[project]
	description = Design exercise for Csaba Trucza's 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adrian Scripcă (benishor)
[access "refs/for/refs/*"]
	read = group user/Adrian Scripcă (benishor)
	push = group user/Adrian Scripcă (benishor)
	label-Code-Review = -2..+2 group user/Adrian Scripcă (benishor)
	label-Verified = -1..+1 group user/Adrian Scripcă (benishor)
	rebase = group user/Adrian Scripcă (benishor)
	removeReviewer = group user/Adrian Scripcă (benishor)
	submit = group user/Adrian Scripcă (benishor)
[access "refs/heads/*"]
	read = group user/Adrian Scripcă (benishor)
	create = group user/Adrian Scripcă (benishor)
	push = +force group user/Adrian Scripcă (benishor)
	pushMerge = group user/Adrian Scripcă (benishor)
[access "refs/tags/*"]
	push = +force group user/Adrian Scripcă (benishor)
	pushTag = group user/Adrian Scripcă (benishor)
	pushSignedTag = group user/Adrian Scripcă (benishor)
